:root {
  --dk-gray: #6c757d;
  --lt-gray: #e1dee1;
  --dk-mauve: #aa414b;
  --lt-mauve: #d06b73;
}

.hero,
.about-p,
.projects {
  background-color: #e1dee1;
}

.navbar-toggler,
.navbar-toggler-icon,
.navbar-brand,
.navbar-nav #navbarNav,
.nav-link,
.contact-links,
h1,
h3 {
  color: var(--dk-mauve);
  text-decoration: none;
}

.navbar-brand,
.nav-link,
.contact-links:hover {
  color: var(--lt-mauve);
}

button {
  background-color: var(--dk-mauve);
  border: var(--dk-mauve) 25px;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  opacity: 0.6;
  transition: 0.7s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  text-decoration: none;
}

footer {
  background-color: var(--dk-gray);
}
